.container-camioneta {
    display: grid;
    grid-template-columns: repeat(2, 5fr);
    grid-gap: 16px;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    padding-left: 12%;
    padding-top: 10%;
    min-width: 100%;
}