.recomendacion-container {
    background-color: rgb(255, 167, 117,0.5);
    height: 570px;
    height: 73vh;
  }
  
  .recomendacion-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #21408E;
    font-family: 'San Francisco', Arial, sans-serif;
    font-weight: bold;
  }
  
  .recomendacion-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }
  
  .recomendacion-card {
    width: 300px;
    height: 400px;
  }
  
  .recomendacion-card-link {
    text-decoration: none;
  }
  