.recomendacion-container {
    background-color: white;
    padding: 0 0 20px 0;
  }
  
  .recomendacion-title {
    text-align: center;
    font-size: 1.9rem;
    background-color: #0C4D9C;
    color:white;
    font-family: 'San Francisco', Arial, sans-serif;
    font-weight: 650;
    padding: 20px;
  }
  
  .recomendacion-cards {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }
  
  .recomendacion-card {
    width: 300px;
    height: 400px;
  }
  
  .recomendacion-card-link {
    text-decoration: none;
  }
  