
.subtitulo {
  font-size: 1.5rem; /* Tamaño de fuente 1.5 veces el tamaño predeterminado */
  color: #000;
}

.busqueda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
