.footer-container {
    background-color:  #0C4D9C;
    display: flex;
    justify-content: left;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-logo {
    width: auto;
    height: 40px;
}

p {
    display: flex;
    align-items: center;
    color:white;
}