.footer-container {
    background-color:  #0C4D9C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
}

.footer-logo {
    width: auto;
    height: 40px;
}

.footer-p {
    color: white;
}

.social-icons {
    display: flex;
    gap: 20px; /* Espacio entre los íconos */
}

.social-icons a {
    color: white;
    font-size: 30px; /* Tamaño de los íconos */
}
