.panel-productos-title {
    font-size: 2rem;
    text-align: center;
    color: #21408E;
    margin-bottom: 20px;
    font-family: 'San Francisco', Arial, sans-serif;
    font-weight: bold;
}

.panel-productos-container {
    height: 80vh;
    background-color: rgb(145, 192, 243,0.3);

}
