.galeria-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 167, 117,0.5);
    min-height: 83vh;
}
.galeria-img-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.detalle-volver-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    font-family: 'San Francisco', Arial, sans-serif;
    margin-bottom: 20px;
    text-decoration: none; 
    align-self: flex-start; 
  }