/* styles/CardDetalle.css */

.card-container {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-container img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .card-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card-container p {
    margin-bottom: 5px;
  }
  
  .card-container .price {
    font-weight: bold;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .detalle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .volver-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
    place-self: start;
    margin-left: 2rem;
  }
  
  .price {
    font-size: 20px;
    color: #ff6600;
    display: flex;
    justify-content: center;
  }
  