.detalle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgb(255, 167, 117,0.5);
  min-height: 83vh;
}
.detalle-title {
  font-size: 2rem;
  font-weight: bold;
}
.detalle-volver-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  font-family: 'San Francisco', Arial, sans-serif;
  margin-bottom: 20px;
  text-decoration: none; 
  align-self: flex-start; 
}

.detalle-content {
  display: flex;
  width: 100%;
  justify-content: space-around; 
  align-items: center; 

}

.detalle-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background-color: white;
  height: 40vh;
  width: 44vh;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 6px 9px 9px rgba(0, 0, 0, 0.1); /* Agregar sombra */
}

.detalle-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px; 
  width: 25vh;
  text-decoration: none;
}

.detalle-img-container {
  max-width: 50%; 
  display: flex;
  justify-content: center; 
}

.detalle-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.detalle-p {
  font-size: 1.2rem;
  color : black;
  margin-top: 10px;
}