.detalle-section {
  padding: 20px;
  background-color: rgb(145, 192, 243,0.3);
  height: 83vh;
}

.detalle-volver-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-right: 20px;
}

.detalle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detalle-card {
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.detalle-img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.detalle-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: black;
}

.detalle-info {
  margin-bottom: 10px;
  color : black;
}

.detalle-price {
  font-weight: bold;
  color: black;
}
