.tipoDeAuto-container {
    background-color: rgb(145, 192, 243,0.3);
    height: 73vh;
  }
  
  .tipoDeAuto-titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #21408E;
    font-family: 'San Francisco', Arial, sans-serif;
    font-weight: bold;
  }
  
  .tipoDeAuto-card-container {
    display: flex;
    justify-content: space-around;
  }
  
  .tipoDeAuto-card {
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
  }
  
  .tipoDeAuto-card-link {
    text-decoration: none;
  }
  