@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
  }
  
  .flex-item {
    width: 100%;
    margin-bottom: 20px; 
  }
  .info-auto {
    width: 90%; /* Puedes ajustar este valor según sea necesario */
    margin: 0 auto;
  }
}
