.panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }

  .panel-title {
    font-size: 2rem;
    text-align: center;
    color: #21408E;
    margin-bottom: 80px;
    font-family: 'San Francisco', Arial, sans-serif;
    font-weight: bold;
  }

  .panel-button {
    padding: 20px ;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    font-family: 'San Francisco', Arial, sans-serif;
    margin-bottom: 20px;
  }